.app {
  color: white;
  height: calc(100vh - 1px);
  font-size: 16px;
  padding-top: 1px;
  background-color: #282c34;
}

.app-container {
  width: calc(100vw - 30px);
  margin: 0 auto;
  height: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}

.app-header {
  width: 100%;
}
.app-header h1,
.app-header h2 {
  margin: 0;
}

.app-header-top {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.app-select {
  color: #fff;
  width: 100%;
  border: 2px solid #000;
  font-size: 1em;
  background: #060a12;
  margin-bottom: 20px;
}

.app-link {
  color: #61dafb;
  display: inline-block;
}
.app-link img {
  display: block;
}

.app-board {
  display: flex;
  padding: 15px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #060a12;
}

.app-stage {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border-collapse: collapse;
}
.app-stage td {
  width: 30px;
  height: 30px;
}

.app-stage-wall {
  box-shadow: 0 0 0 2px #424242 inset;
  background-size: 12.73px 12.73px;
  background-image: linear-gradient(
    135deg,
    #424242 33.33%,
    #212121 33.33%,
    #212121 50%,
    #424242 50%,
    #424242 83.33%,
    #212121 83.33%,
    #212121 100%
  );
}

.app-stage-target {
  background: radial-gradient(circle, #e6d700 30%, rgb(0, 0, 0) 35%);
}

.app-stage-player {
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAKElEQVQYlWNgQAYXnf7DMU5APUUwhQRNQMekmUSSIpgCoq3BqhCPIgBWyzPDlvpEvAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: center;
}
.app-stage-player--target {
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAOElEQVQYlWNgQALnGTT/wzADLkAdRc+uM/x/dp3h/3kGzf8wNk4T0DFpJpGkCKYARmP1GT4+QUUAN+xaJDUTozYAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center;
}

.app-stage-box {
  box-shadow: 0 0 0 2px #e6d700 inset;
  background-size: 8.49px 8.49px;
  background-image: linear-gradient(
    45deg,
    #e6d700 25%,
    #000000 25%,
    #000000 50%,
    #e6d700 50%,
    #e6d700 75%,
    #000000 75%,
    #000000 100%
  );
}
.app-stage-box--target {
  box-shadow: 0 0 0 2px #a80505 inset;
  background-size: 8.49px 8.49px;
  background-image: linear-gradient(
    45deg,
    #a80505 25%,
    #000000 25%,
    #000000 50%,
    #a80505 50%,
    #a80505 75%,
    #000000 75%,
    #000000 100%
  );
}

.app-actions {
  text-align: center;
  margin-bottom: 50px;
}
.app-actions:after {
  content: "you can also play with keyboard arrows";
  display: block;
  margin-top: 10px;
}
.app-actions button {
  color: #fff;
  border: 0;
  margin: 0 5px;
  padding: 10px;
  font-size: 1em;
  background-color: #393d45;
}
.app-actions button:hover {
  background-color: #4a4e56;
}

@media (max-width: 550px) {
  .app-stage td {
    width: 20px;
    height: 20px;
  }
}
